<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <script
 charset="UTF-8"
 src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.9/languages/go.min.js">
   </script>
    <meta charset="utf-8">
    <title>Online Python Compiler</title>
    <style media="screen">
     .cmd-col{
       background-color: black;
     }
      .cmd{
        font-family: 'Inconsolata', monospace;
        color: white;

      }
    </style>
  </head>
  <body>
    <h1>Online Python Compiler</h1>
 <form class="" action="." method="post">
   {% csrf_token %}
   <textarea class="cmd-col cmd" name="compile" rows="8" cols="80"></textarea>
   <textarea class="cmd"  name="input" rows="8" cols="80"></textarea>
   <input type="submit" value="Compile">
 </form>

 {% for out in dic %}
 {{out}}
 <br>
 {%  endfor %}
  </body>
</html>
